/* Global Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-weight: bold;
}

form {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 15px;
}

button {
  margin-right: 10px;
}

.btn {
  font-weight: bold;
}

table {
  margin-bottom: 30px;
}

th {
  text-align: center;
}
td {
  text-align: center;
}

#clearDataButton {
  display: block;
  margin: 0 auto;
}

td:not(:last-child) {
  max-width: 150px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#searchInput,
#filterType {
  width: 240px;
}

.input-group-text {
  width: 100px;
  font-weight: bold;
}
